@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* =============== GENERAL SETTINGS ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: montserrat;
  --green1-trybe: rgb(14, 101, 78);
  --green2-trybe: rgb(44, 183, 132);
  --black-color: black;
  --white-color: white;
}
body {
  width: 100%;
}