@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* =============== GENERAL SETTINGS ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: montserrat;
  --green1-trybe: rgb(14, 101, 78);
  --green2-trybe: rgb(44, 183, 132);
  --black-color: black;
  --white-color: white;
}
body {
  width: 100%;
  height: 100%;
  background-color: #282a36;
  color: #f8f8f2;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 6rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  /* border: 1px solid red; */

}
.color-palette {
  /* border-radius: 100%; */
  /* height: 5rem; */
  border: black solid 1px;
  /* outline: none; */
}
.board-color-palette {
  display: flex;
}
.toolbox {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  justify-content: center;
  align-items: center;
  border: 1px red soid;
}
.input-items {
  width: fit-content;
  display: flex;
  gap: 1rem;
}
.input-items input{
  font-size: 3rem;
  max-width: 9rem;
  text-align: center;
  margin: auto;
}
.pixel {
  border: 0.1px solid rgba(0, 0, 0, 0.385);
  background-color: white;
}
.board-pixel {
  display: grid;
  width: 60rem;
  height: 60rem;
  border-radius: 15px;
  overflow: hidden;
}
.form-control-color {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
}
.btn-primary {
  background-color: #ff79c6;
}
.button-input-pixel-size{
  background: none;
  border: none;
  width: fit-content;
}
.button-input-pixel-size img{
  width: 5rem;
}


@media screen and (max-width: 600px) {
  body {
  }
  main{
    flex-direction: column;
    gap: 2rem;
  }
  .board-pixel {
    width: 100vw;
    height: 100vw;
  }
}
