@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* =============== GENERAL SETTINGS ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: montserrat;
  --green1-trybe: rgb(14, 101, 78);
  --green2-trybe: rgb(44, 183, 132);
  --black-color: black;
  --white-color: white;
}
body {
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  border: 1px solid red;
}
.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.box-pixels {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(5, 40px);
}
